.gameListInClass{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.gameListInClass-item{
    margin: 2rem ;
    font-size: 2rem;
}
/*.games-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
